<?xml version="1.0"?>
<model>
  <name>random_tile_ground</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Generated</name>
  </author>
  <description>100x100m ground plane composed of random 1m tiles optimized for ORB feature detection.</description>
</model>
