<?xml version="1.0"?>
<model>
  <name>canvas_screen</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ArduPilot Gazebo</name>
  </author>
  <description>
    Simple hanging screen that displays images streamed to ~/canvas/image via the CanvasPlugin visual plugin.
  </description>
</model>
